@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.background {
  filter: blur(4px);
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../img/balloons.jpg") no-repeat center center/cover;
}

.foreground {
  backdrop-filter: blur(10px);
  position: absolute;
  width: 90vw;
  height: 90vh;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0.5rem;
  position: relative;
  padding: 12px;
}

.foreground::before {
  top: 8px;
  left: 8px;
  content: "";
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 0.25rem;
}
nav {
  width: 300px;
  margin-right: 20px;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  flex: 1;
  padding: 20px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 240px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  background-color: rgba(206, 248, 234, 0.5);
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  color: #111;
}

aside.sidebar {
  grid-area: sidebar;
}

main.main {
  background-color: #fff7;
  grid-area: main;
}

footer.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  color: #333;
  font-size: 0.8rem;
}
