@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #086788;      /* Blue Sapphire */
  --info-color: #07A0C3;         /* Blue Green    */
  --alert-color: #F0C808;        /* Jonquil       */
  --danger-color: #DD1C1A;       /* Maximum Red   */
  --background-color: #FFF1D0;   /* Papaya Whip   */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 0 50%;
  padding: 100px;
  background-color: #fff1d022;
  margin: auto
}

#hero * {
  margin: 0;
  padding: 0;
}

#hero h1 {
  font-size: 60px;
  color: rgb(5, 54, 77);
  text-transform: uppercase;
  color: #086788;
}

#hero h5 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: #086788;
  margin-top: 10px;
  letter-spacing: 2.2px;
}

#hero h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #086788aa;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

#hero p {
  margin-top: 50px;
  line-height: 1.8;
  font-size: 18px;
  color: #086788ee;
  padding-right: 50px;
}

.hero-content {
  flex: 0 0 50%;
}

.hero-graphics {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.hero-graphics img {
  width: 100%;
}
