// Sass variables

$color-red-light: #f17171;
$color-red: #ee4d4d;
$color-red-dark: #d64545;

$color-orange-light: #ffa071;
$color-orange: #ff884d;
$color-orange-dark: #e57a45;

$color-yellow-light: #ffd071;
$color-yellow: #ffc44d;
$color-yellow-dark: #e5b045;

$color-green-light: #a2d471;
$color-green: #8bc94d;
$color-green-dark: #7db545;

$color-teal-light: #71e2d0;
$color-teal: #4ddbc4;
$color-teal-dark: #45c5b0;

$color-cyan-light: #71d0ff;
$color-cyan: #4dc4ff;
$color-cyan-dark: #45b0e5;

$color-blue-light: #7ea9ff;
$color-blue: #5394ff;
$color-blue-dark: #5485e5;

$color-purple-light: #b38dff;
$color-purple: #a071ff;
$color-purple-dark: #9065e5;

$color-pink-light: #ff71b7;
$color-pink: #ff4da5;
$color-pink-dark: #e54594;

$color-gray-light: #a2adb9;
$color-gray: #8b98a6;
$color-gray-dark: #7d8995;

$color-backround: #ecf0f3;

$color-white: #fff;
$color-black: #222;
