/* Hero */
.hero {
  background: linear-gradient(
      to bottom right,
      rgba($color-purple-dark, 0.8) -10%,
      rgba($color-blue-dark, 0.8) 110%
    ),
    url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80);
  height: 95vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Profile Image */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;

  &__image {
    align-items: center;
    position: relative;
    background-clip: padding-box;
    padding: 2rem;
    border-radius: 150px;
    border: 2px solid rgba($color-white, 0.2);
    height: 160px;
    width: 160px;
    opacity: 0.9;
    background: linear-gradient(
      to bottom right,
      rgba($color-purple-light, 0.5),
      rgba($color-purple-dark, 0.5)
    );
    box-shadow: 5px 5px 5px rgba($color-black, 0.5);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 8px;
      border-radius: 100%;
      background: url(/images/profile.png);
      background-position: center;
      background-size: cover;
      opacity: 0.9;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  &__heading {
    margin: 4rem 0 0.5rem;
    font-size: 5.2rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    text-indent: 1.2rem;
    animation: fadeRight 1.5s ease-out 0.2s backwards;
  }

  &__subheading {
    margin: 0;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.77rem;
    text-indent: 0.77rem;
    opacity: 0.6;
    animation: fadeLeft 1.5s ease-out 0.2s backwards;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }

  .profile__heading {
    font-size: 6rem;
  }

  .profile__subheading {
    font-size: 2.5rem;
  }
}

/* Social Media */

.social-media {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  transform: translateY(-10rem);
  background: $color-backround;
  padding: 3rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 100px;
  margin: 0 2rem;

  &__list-item {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-size: 3rem;
    border: 2px solid rgba($color-purple-light, 0.2);
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba($color-purple-dark, 0.2), -5px -5px 5px #fff;
    transition: transform .15s;

    &:hover {
      transform: scale(1.2);
    }

    a {
      color: $color-purple-light;
      transition: color ease-out 0.15s;

      &:active {
        transform: scale(.9);
      }
    }
  }
}

.github {
  animation: zoomIn 0.6s backwards 0.2s;
}

.github a:hover {
  color: #333;
}

.twitter {
  animation: zoomIn 0.6s backwards 0.4s;
}

.twitter a:hover {
  color: #1da1f2;
}

.facebook {
  animation: zoomIn 0.6s backwards 0.6s;
}

.facebook a:hover {
  color: #4267b2;
}

.linkedin {
  animation: zoomIn 0.6s backwards 0.8s;
}

.linkedin a:hover {
  color: #0077b5;
}

@media screen and (min-width: 768px) {
  .social-media {
    width: 400px;
    margin: 0 auto;
  }
}

.icon-container {
  height: 64px;
  width: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #e9deff;
  border-radius: 100%;

  img {
    height: 70%;
  }
}

.tool-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 8rem;

  img {
    height: 100%;
  }
}

.feature {
  margin: 2rem 0 4rem;
}
