body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #66bfbf;
  font-family: "Dancing Script", cursive;
  font-size: 5em;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Slabo 27px", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Slabo 27px", sans-serif;
  font-size: 1.5em;
}

p {
  color: #40514e;
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Slabo 27px", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.credits {
  color: #11999e;
  font-size: 0.75rem;
  font-family: "Slabo 27px", sans-serif;
}
/* hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
} */

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-image: linear-gradient(0deg, #bceefe, 95%, #5bbbdb);
  padding-top: 100px;
  position: relative;
  z-index: -1;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background: #66bfbf;
  color: #11999e;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
  z-index: 2;
  text-align: justify;
}

.pro {
  text-decoration: underline;
}

#myname {
  font-family: "Comic Neue", Arial, Helvetica, sans-serif;
}

#mytitle {
  margin: 0 auto;
}

p a {
  font-family: "Open Sans", sans-serif;
}

p a:hover {
  color: #66bfbf;
}

.top-cloud {
  position: absolute;
  height: 25%;
  right: 20%;
  top: 40px;
  opacity: 50%;
  z-index: -1;
  animation: clouds-glide 120s linear infinite;
}

.bottom-cloud {
  bottom: 350px;
  left: 20%;
  height: 30%;
  position: absolute;
  opacity: 70%;
  z-index: -1;
  animation: cloud-glide 20s ease-in-out infinite;
}

.trees {
  height: 400px;
}

.profile-image {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row p {
  text-align: justify;
}

.web-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.creativity-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.desktop-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-skill-description {
  clear: left;
}

.database-skill-description {
  clear: right;
}

.desktop-skill-description {
  clear: left;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0 10px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119a9a);
  background-image: -moz-linear-gradient(top, #11cdd4, #119a9a);
  background-image: -ms-linear-gradient(top, #11cdd4, #119a9a);
  background-image: -o-linear-gradient(top, #11cdd4, #119a9a);
  background-image: linear-gradient(to bottom, #11cdd4, #119a9a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
  text-align: justify;
}

@keyframes clouds-glide {
  0% {
    right: 30%;
  }
  50% {
    right: 20%;
  }
  100% {
    right: 30%;
  }
}

@keyframes cloud-glide {
  0% {
    left: 18%;
  }
  50% {
    left: 20%;
  }
  100% {
    left: 18%;
  }
}
